<h1>Moderator's Index</h1>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>fullname</th>
			<th>username</th>
			<th>created</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<% @moderators.each do |moderator| %>
			<tr>
				<td><%= moderator.fullname %></td>
				<td><%= moderator.username %></td>
				<td><%= time_ago(moderator.created_at) %></td>
				<td>
					<%= link_to 'Edit', edit_admin_moderator_path(moderator) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>