<h1>Notifications</h1>

<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td><b>Kingsley Ijomah</b> registered as a visitor</td>
			<td>4 hours ago</p></td>
			<td><%= link_to 'Dismiss', '#'%></td>
		</tr>
		<tr>
			<td><b>Jane Doe</b> wrote a comment as a visitor</td>
			<td>6 hours ago</td>
			<td><%= link_to 'Dismiss', '#'%></td>
		</tr>
	</tbody>
</table>
